/* main.css */

*{
    border:0;
    font-family: Roboto, Tahoma, Geneva, sans-serif; /*inherit;*/
/*     font-size:1.1em; */
    margin:0;
    padding:0;
    vertical-align:baseline;
}

/*.MathJax {
font-size: 0.5em !important;
}*/

body, th, td{
/*     background-color: #fafafa; */
    background-color: #F5F5F5;
    background-size: cover;
    background-attachment: fixed;
    color: #505050; 
    text-align:justify;
    font-family:'Roboto',sans-serif;
    font-size:1.2em;
    line-height:1.5em;
    margin: 0px auto;
    width: 1000px;
}

q {
/*   color: gray; */
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}
q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

a{color: #37a987; text-decoration:none;}
a.current{color: #b7b1d2;}
a.current:hover{color: #e82945;}
a:hover{color: #b7b1d2;}
a:active{color: #b7b1d2;}
h1,h2,h3,h4{clear:left; color: #4b3d8f; margin:1.5em 0em 1em 0em; font-family:'Cambria',serif; text-shadow: 1px 1px 2px #d0d0d0;}
h1{font-size:2.5em;}
h2{font-size:1.9em;}
h3{font-size:1.67em;}
h4{font-size:1.1em; color:green;}
p{list-style:none; margin:24px auto 24px auto; padding:0px; width:900px; text-align: justify;}
li a, p a {text-decoration:underline; text-decoration-color:#37a987;}
ul{list-style:none; margin:24px auto 24px auto; padding:0px; width:800px; text-align:left;}
ul li{list-style:none; margin:0px auto 0px auto; padding:0px; text-align:left;}
i,em{font-style:italic;}
b,strong{font-weight:bold;}

sup{
    vertical-align: super;
    font-size: 0.8em;
    line-height: 0;
}

sub{
    vertical-align: sub;
    font-size: 0.8em;
    line-height: 0;
}

table{
    width: 1000px;
    margin: 12px auto 24px auto;
    float: center;
}

th,td{
    text-align: left;
}

/* Website Banner */
.banner {relative; font-family:'Cambria',serif; padding: 0 0 0 0; margin-bottom: -0.4em;}
.top {font-size:4.5em; color: #505050; background: rgba(204, 204, 204, 0.3);text-align: center; width: 1080px; height: 120px; position: absolute; padding: 30px 0 0 0; top: -60px; line-height: 0.9em; vertical-align:middle;}
.bottom-right {font-size:2.33em; color: #fafafa; line-height: 1.5em; width: auto; height: 100px; padding: 0px 27px 27px 0px; text-align: right; position: absolute; bottom: 0px; right: 0px; text-shadow: 0px 0px 6px #000000;}


/* Estilo para la barra de navegación */
.barra-navegacion {
background-color: #687B33;
width: 960px;
height: 50px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
text-align: center;
}

/* Estilo para los ítems de navegación */
.item-navegacion {
color: white;
font-weight:bold;
text-decoration: none;
padding: 10px;
transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para los ítems de navegación cuando se pasa el ratón por encima */
.item-navegacion:hover {
background-color: #793333E8;
color: white;
padding: 10px;
}

/* Estilo para los ítems de navegación MARCADOS */
.item-navegacion-mark {
color: white;
font-weight:bold;
text-decoration: none;
padding: 10px;
transition: background-color 0.3s ease, color 0.3s ease;
background-color: #793333E8;
color: white;
}

/* Conference Title Logo */
.title{color: #687B33; font-size:1.3em; font-weight:bold; text-align: right; margin: 20px 0 0 0; line-height:1.3em;} 
.title1{color: #4b3d8f; text-shadow: 1px 1px 3px #c0c0c0;font-size:0.6em} 
.title2{color: #4b3d8f; text-shadow: 1px 1px 3px #c0c0c0; font-size:0.6em}
.year{color: #505050; font-size:0.67em; font-weight: lighter;}

/* Navigation Links (Home, Registration, etc) */
table.navigation{width:800px;}
td.navigation{font-size:1.8em; white-space:nowrap; width:20%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}

/* Sponsor Images */
table.organizers{width:1000px; font-size: 0.9em; }
td.organizer{white-space:nowrap; width:33%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
td.organizer img{width: 60%}

/* The Table on the Program Page */
td.room{padding: 4px 12px 4px 4px; width: 90%; vertical-align:bottom; font-size:1.67em; color: #4b3d8f; height:32px;}
td.date{width:500px; text-align:center; vertical-align:center; padding:4px 16px 0px 0px;;}
td.title{padding: 4px 12px 4px 4px; width: 80%; vertical-align:center; font-size:1.5em; color: #4b3d8f; height:32px; font-family:'Cambria',serif; text-shadow: 1px 1px 2px #d0d0d0; }
td.title-special{padding: 4px 12px 4px 4px; width: 90%; vertical-align:center; font-size:1.67em; color: #4b3d8f; height:32px; font-family:'Cambria',serif; text-shadow: 1px 1px 2px #d0d0d0;}
td.speaker{padding: 10px 12px 4px 4px; font-style: italic; font-size:1em; max-height:999999px}
td.abstract{padding: 10px 12px 12px 4px; font-size:1em; max-height:999999px}
td.abstract img{display: block; margin: 4px auto 8px auto}
table.plenary{padding-top: 8px; background: 	#D3D3D3;}

/* Lists */
ol {
    text-indent: 0px;
    margin-left: 40px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
}


ol.back {
	counter-reset: o-counter 9; /*Num total de articulos*/
	list-style-type: none;
    text-indent: 0px;
    margin-left: 40px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

ol.back li:before {
	content: '[' counter(o-counter) ']';
    counter-increment: o-counter -1;
	position:absolute;
	font-weight:bold;
    text-indent: -30px;
}


ul.articles {
    list-style-position: inside;
	text-indent: 10px;
    margin-left: 10px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: outside none none;
    line-height: 40px;
}


/* My hacky way of making the site mobile-friendly */
@media only screen and (max-width: 1000px) {
    h2{font-size:3.00em;}
    h3{font-size:2.00em;}
    h4{font-size:1.50em;}
    p{font-size:1.5em;line-height:1.5em;}
    table,tbody,th,td,tr{display: block; line-height:1.5em;}
    td.date{font-size:1em; padding-top:0.5em;}
    td.navigation{font-size:1.5em; padding:0px 20px 0px 20px;}
    table.footer{font-size:0.33em;}
    .barra-navegacion{ padding: 5px 20px;}
    .banner { margin-bottom: -0.4em;}
    .item-navegacion {font-size:1.3em;}
    .item-navegacion-mark {font-size:1.3em; padding: 2px;}
    table.organizers{width:900px; font-size: 1.2em; }
    td.organizer{white-space:nowrap; width:90%; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
    td.organizer img{width: 100%; padding:0 0 20px 0;}
    ul.articles{font-size:1.5em;line-height:2em;}
    ol{font-size:1.5em;line-height:2em;}
}



/* Popup box BEGIN */

.hidden>div.hid {
  display:none;}

.hidden>div.vis {
  display:block;
  overflow:auto;
  font-size:1em;
  line-height: 20px;
  color: grey;
  margin: 10px 0px 5px 0px;
  text-align:left;
  font-weight:bold;
}

.visible>div.hid {
  display:block;
  background-color: white;
  margin: 0px 10px 10px 0px;
  padding: 0px 10px 0px 0px;
  font-size: 1em;
  text-align: justify;
  line-height: 30px;
  color: gray;
  border: 1px solid #cccccc;
  border-radius:5px 5px 5px 5px;
  text-indent: 20px;
/*   font-style:italic; */
}

.visible>div.vis {
  display:block;
  overflow:auto;
  font-size:1em;
  line-height: 20px;
  color: grey;
  margin: 10px 0px 5px 0px;
  text-align:left;
  font-weight:bold;
}


div.vis {
  display:block;
  overflow:auto;
  font-size:1em;
  line-height: 20px;
  color: grey;
  margin: 10px 0px 5px 10px;
  text-align:left;
  font-weight:bold;
}

div.hid {
  display:block;
  background-color: white;
  margin: 0px 10px 10px 10px;
  padding: 0px 10px 0px 10px;
  font-size: 1em;
  text-align: justify;
  line-height: 30px;
  color: gray;
  border: 1px solid #cccccc;
  border-radius:5px 5px 5px 5px;
  text-indent: 20px;
}

.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    left:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #f3f3f3;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    /* font-size: 20px;
    margin: 20px;*/
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

.open_popup{
  cursor: pointer;
  /* font-size: 20px;
  margin: 20px;
  display: inline-block;*/
  font-weight: bold;
}
.popup_body{
  display:none;
  position:fixed;
  top:0;left:0;right:0;bottom:0;
}
.popup_body_show{
  display:block;
}
.popup_back{
  background: rgba(0,0,0,0.4);
  position: fixed;
  left:0;right:0;top:0;bottom:0;
}
.popup_contain{
  position:relative;
  background-color: #f3f3f3;
  box-shadow: 10px 10px 60px #555;
  border-radius: 8px;
  height: auto;
  width: 40%;
  margin:100px auto 50px;
  min-height:150px;
  padding: 20px 10px 10px 20px;
  text-align: left;
  font-size: 16px;
}
.popup_close{
  background-color: #fff;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

